<?php
define("DBPersistent", false);
define('DB_BASE', ''); 
define('DB_USER', '');
define('DB_HOST', 'localhost');
define('DB_PASS', '');
define('DB_TYPE', 'pdo_mysql');

define('MONGO_BASE', '');
define('MONGO_USER', '');
define('MONGO_PASS', '');
define('MONGO_HOST', 'localhost');
define('MONGO_PORT', '27017');