<!DOCTYPE html>
<html>
<head>
    <title>Авторизация - {{ prj_name }}.{{ prj_zone }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="{{ asset('/bundles/bootstrap3/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/admin/css/login.css') }}" rel="stylesheet">

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
{% block message %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>