<div> 
	<form name="frmSearch" class="form-search" method="get">
	<input type="text" value="{{ searchText }}" name="text"></input>
	<input type="submit" class="btn btn-default" value="Поиск">
	</form>
</div>
